{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}


{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
			<a class="ui basic compact button" href="{{ url_for('project.project_questions', project_id=project_id) }}">
                <i class="caret left icon"></i>
                Back to Questions' List
            </a>
            <h2 class="ui header">
            </h2>
			<div class="ui segment">
				<div class="sub header">How to fill this section</div>
				<div class="ui ordered list">
				  <div class="item">Type in your answer in the box field which corresponds with your answer. E.g if your response is yes and the box field has a "yes", you type in your response in the box provided.</div>
				</div>
			</div>
            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}

			{% if multiple_choice_question %}
			<div class="ui segment">
				<div class="sub header">{{ form.user_no.label }}</div>
				<div class="ui clearing divider"></div>
				<div class="field">
					{{ form.user_no }}
				</div>	
			</div>

			<div class="ui segment">
			  <h3 class="ui left floated header">{{ multiple_choice_question.title }}</h3>
			  <div class="ui clearing divider"></div>
			  <h5 class="ui header">{{ multiple_choice_question.description }}</h5>
			  <p></p>
			  {% if multiple_choice_question.multiple_choice_option_one %}
				<div class="field">
					<div class="ui checkbox">
						<input type="checkbox" value="{{multiple_choice_question.multiple_choice_option_one }}" name="mcq_answer"/>
						<label>{{ multiple_choice_question.multiple_choice_option_one }}</label>
					</div>
				</div>
			 {% endif %}
			  {% if multiple_choice_question.multiple_choice_option_two %}
				<div class="field">
					<div class="ui checkbox">
						<input type="checkbox" value="{{multiple_choice_question.multiple_choice_option_two }}" name="mcq_answer">
						<label>{{ multiple_choice_question.multiple_choice_option_two }}</label>
					</div>
				</div>
				{% endif %}
			  {% if multiple_choice_question.multiple_choice_option_three %}
			  <div class="field">
				<div class="ui checkbox">
					<input type="checkbox" value="{{multiple_choice_question.multiple_choice_option_three }}" name="mcq_answer">
					<label>{{ multiple_choice_question.multiple_choice_option_three }}</label>
				</div>
			</div>
				{% endif %}
			  {% if multiple_choice_question.multiple_choice_option_four %}
				<div class="field">
					<div class="ui checkbox">
						<input type="checkbox" value="{{multiple_choice_question.multiple_choice_option_four }}" name="mcq_answer">
						<label>{{ multiple_choice_question.multiple_choice_option_four }}</label>
					</div>
				</div>
				{% endif %}
			  {% if multiple_choice_question.multiple_choice_option_five %}
				<div class="field">
					<div class="ui checkbox">
						<input type="checkbox" value="{{multiple_choice_question.multiple_choice_option_five }}" name="mcq_answer">
						<label>{{ multiple_choice_question.multiple_choice_option_five }}</label>
					</div>
				</div>
				{% endif %}
				{{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
				{{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
				{{ f.form_message(flashes['info'], header='Information', class='info') }}
				{{ f.form_message(flashes['success'], header='Success!', class='success') }}

				{% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
					{{ f.render_form_field(field) }}
				{% endfor %}

				{{ f.end_form() }}

			</div>
			{% endif %}
        </div>
    </div>
{% endblock %}
