{% extends 'layouts/base.html' %}
{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
        {% if current_user.is_respondent %}

            <h2 class="ui header">
                Available Questions
                <div class="sub header">
                    View available questions
                </div>
            </h2>
            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}

            <div style="overflow-x: scroll;"> 
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Project Name</th>
                        <th>View Questions</th>
                        <th>View Questions Answered</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects.items %}
                        <tr>
                            <td>{{ project.id }}</td>
                            <td>{{ project.name }}</td>
                            <td>
                                <a class="ui blue left floated button" href="{{ url_for('project.project_questions', project_id=project.id, name=project.name) }}">View Questions</a>
                            </td>
                            <td>
                                <a class="ui blue left floated button" href="{{ url_for('project.questions_answered', project_id=project.id) }}">View Questions Answers</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <form method="POST" action="{{ url_for('question.delete_question', question_id=0) }}" id="delete-question-form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
        </div>
        <div class="ui centered grid ">
        {% if projects.pages > 0 %}
            <div class="ui pagination menu">
                {% for page in projects.iter_pages() %}
                    {% if page %}
                        {% if page != projects.page %}
                            <a class="item"
                               href="{{ url_for(request.endpoint,  page=page) }}">
                                {{ page }}
                            </a>
                        {% else %}
                            <a class="item active">
                                {{ page }}
                            </a>
                        {% endif %}
                    {% else %}
                        <div class="disabled item">
                            ...
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% else %}

    <div class="ui text container">
        <div class="ui placeholder segment">
         <div class="ui icon header">
           <i class="user secret icon"></i>
           <h1> Only respondents can access this area</h1>
           <h3>You are either trying to access a protected page or the page doesn't exit. Use navigation bar to go back. </h3>
         </div>
           </div>
       </div>
    {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script>
        function confirmDeleteQuestion(question_id){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this question",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        let form = $("#delete-question-form");
                        form.attr('action', "{{ url_for('question.delete_question', question_id=0) }}".replace('0',question_id));
                        form.submit();
                    } else {
                        return false;
                    }
                });
            return false;
        }
    </script>	
{% endblock %}
{% block scripts %}


{% endblock %}