{% extends 'layouts/base.html' %}
{# import 'macros/form_macros.html' as f #}



{% block scripts %}
{% endblock %}

{% block content %}
<div class="ui stackable centered grid container">
    <div class="twelve wide column">
        <a class="ui basic compact button" href="{{ url_for('project.index') }}">
            <i class="caret left icon"></i>
            Back to Questions Dashboard
        </a>
        <h2 class="ui header">
            {{ project.name }}
            <div class="sub header">Projecs questions</div>
        </h2>
        <a class="ui blue left floated inverted secondary button"" href=" {{ url_for('project.export',
            id=project.id)}}">Download data</a>
        <div class="ui hidden section divider"></div>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>No. of Answers</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                    <tr>
                        <td><h3 class="ui left floated header">{{ question.title }}</h3></td>
                        <td><h3 class="ui left floated header">{{ question.answers }}</h3></td>
                        <td><a class="ui blue right floated button"
                            href="{{ url_for('question.user_question_answers', question_id=question.id) }}">View answers</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      

    </div>
</div>

{% endblock %}