{% extends 'layouts/base.html' %}
{# import 'macros/form_macros.html' as f #}



{% block scripts %}
{% endblock %}

{% block content %}
<div class="ui stackable centered grid container">
    <div class="twelve wide column">
        <a class="ui basic compact button" href="{{ url_for('project.index') }}">
            <i class="caret left icon"></i>
            Back to Questions Dashboard
        </a>
        <h2 class="ui header">
            {{ project.name }}
            <div class="sub header">Projects questions</div>
        </h2>
        <a class="ui blue left floated inverted secondary button"" href=" {{ url_for('project.export',
            id=project.id)}}">Download data</a>
        <div class="ui hidden section divider"></div>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>
                        <h3>Question</h3>
                    </th>
                    <th>
                        <h3>No. of Answers</h3>
                    </th>
                    <th>
                        <h3>Action</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                <tr>
                    <td>
                        <h4 class="ui left floated header">{{ question.title }}</h4>
                    </td>
                    <td>
                        <h4 class="ui left floated header">{{ question.answers }}</h4>
                    </td>
                    <td>
                        <div>
                            <a class="ui blue right floated button"
                                href="{{ url_for('question.user_question_answers', question_id=question.id) }}">View
                                answers</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
</div>

{% endblock %}